:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6bb;
    --text-secondary: #ececee;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;

    --background-primary:#16161a;
    --button: #7f5af0;
    --headline: #fffffe;
    --button-text: #fffffe;
    --paragraph: #94a1b2;

    --background-secondary: #242629;
    --card-background: #16161a;
    --sub-heading: #94a1b2;
    --card-paragraph: #94a1b2;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;  
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    margin-left: 5rem;
    padding: 1rem;
    background-color: var(--background-secondary);
    min-height: 100vh;
}

h1, h2, h3, h4 {
    color: var(--headline);
}

p {
    color: var(--card-paragraph);
}


/*Get from fireship navbar video */
@media only screen and (max-width: 600px){

}

@media only screen and (min-width: 600px) {
    
}