.flex-container-education {
    display: flex;
    flex-direction: column;
    margin: 5vw;
    text-align: center;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-container-item {
    margin-left: 5vw;
    margin-right: 5vw;
}
.container {
    display: flex;
    flex-direction: row;
}

.left {
    flex: 50%;
}

.right {
    flex: 50%;
}